.container {
  width: 1000px;
  height: 560px;
  margin: 100px auto;
  text-align: center;
  overflow: hidden;
}
.container section {
  float: left;
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
}
.container section h2 {
  color: #e15d4c;
  font-size: x-large;
  margin: 30 auto;
}
.main-box {
  color: rgb(102, 102, 102);
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
}
/* WORD BREAK ON CLIENT KICKOFF */
section.main-box h2 {
  word-spacing: 20px;
}
/* IMAGE FORMATING SECTIONS */
.box-1 img, .box-2 img, .box-3 img, .box-4 img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border: 1px;
  border-radius: 7px;
  padding: 30px;
}
.box-1 img {
  background-color: #70c0c9;
}
.box-2 img {
  background-color: #4074bd;
}
.box-3 img {
  background-color: #e05e46;
}
.box-4 img {
  background-color: #919191;
}
.box-1 div, .box-2 div, .box-3 div, .box-4 div {
  float: left;
  padding: 7px 15px 7px 15px;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  border-radius: 100%;
  background-color: white;
}
.box-1 div {
  border: 5px solid #70c0c9;
  color: #70c0c9;
}
.box-2 div {
  border: 5px solid #4074bd;
  color: #4074bd;
}
.box-3 div {
  border: 5px solid #e05e46;
  color: #e05e46;
}
.box-4 div {
  border: 5px solid #919191;
  color: #919191;
}
